html, body {
  margin:0;
  padding:0;
  height:100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#head {
  position: relative;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#content {
  padding-bottom:40px;   /* Height of the footer element */
  padding-left: 202px;
  padding-right: 202px;
  padding-top: 40px;
}

#footer {
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;
  left:0;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

#header_links_left {
  position: absolute;
  bottom: 36px;
  left:400px;
}


#header_links_right {
  position: absolute;
  bottom: 36px;
  right:202px;
}

span.header_link_left {
  font-size: 20px;
  padding-left: 20px;
}

span.header_link_right {
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 36px;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

pre {
  padding: 8px;
  background-color: rgba(128, 128, 128, 0.1);

}
